{
  "plugins": [
    [
      "extensible-destructuring",
      { "mode": "optout", "impl": "immutable" }
    ],
    "syntax-async-functions",
    "transform-regenerator",
    "transform-runtime",
  ],
  "presets": ["es2015", "stage-0"]
}
